@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');

html, body{
  margin: 0;
  padding: 0;
  background: #c1e1ec;
  color: black;
  font-family: "Playwrite IS", serif;
}

.image-inverted{
  filter: invert(100%);
}